<div>
  <%@tasks.each do |task|%>
    <div><p><b><%= link_to task.title , task_path(task) %></b>
      --- <%= link_to "edit", task_path(task.id) %></div></p>
  <% end %>
</div>

<%= link_to "create new task", tasks_new_path %>
